<div class="formulario">
	<form id="relatorio" method="post" action="#">
		<h3>Relat&oacute;rios</h3>
		<hr>
		<form id="relInsituicao" method="post" action="#">
			<h6>Institui&ccedil;&atilde;o</h6>
			<label  for="codinst" >C&oacute;digo</label>
			<input  type="text" id="codinst" name="codinst" size="2">

			<label  for="nome" >Nome:</label>
			<input  type="text" name="nome" id="nome">

			<label  for="uf" > UF: </label>
			<select id="uf" name="uf">
				<option value="0">Escolha um Estado</option>
				<option value="1">AC</option>
				<option value="2">AL</option>
				<option value="3">AP</option>
				<option value="4">AM</option>
				<option value="5">BA</option>
				<option value="6">CE</option>
				<option value="7">DF</option>
				<option value="8">ES</option>
				<option value="9">GO</option>
				<option value="10">MA</option>
				<option value="11">MT</option>
				<option value="12">MS</option>
				<option value="13">MG</option>
				<option value="14">PA</option>
				<option value="15">PB</option>
				<option value="16">PR</option>
				<option value="17">PE</option>
				<option value="18">PI</option>
				<option value="19">RJ</option>
				<option value="20">RN</option>
				<option value="21">RS</option>
				<option value="22">RO</option>
				<option value="23">RR</option>
				<option value="24">SC</option>
				<option value="25">SP</option>
				<option value="26">SE</option>
				<option value="27">TO</option>
			</select>

			<label for="bairro">Bairro:</label>
			<select name ="bairro" id="bairro">
				<option value="escolha">Escolha um Bairro</option>
				<option value="st">Santo Ant&ocirc;nio</option>
				<option value="sr">Santa Rosa</option>
				<option value="x">Xer&eacute;m</option>
			</select>

			<label for="cidade">Cidade:</label>
			<select id="cidade" name="cidade">
				<option value="escolha">Escolha uma Cidade</option>
				<option value="1">Duque de Caxias</option>
				<option value="2">S&atilde;o Jo&atilde;o de Meriti</option>
				<option value="3">Nova Igua&ccedil;u</option>
			</select>

			<label for="municipio">Municipio:</label>
			<select id="municipio" name="municipio">
				<option value="escolha">Escolha um Munic&iacute;pio</option>
				<option value="1">Duque de Caxias</option>
				<option value="2">S&atilde;o Jo&atilde;o de Meriti</option>
				<option value="3">Nova Igua&ccedil;u</option>
			</select>

			<label for="catinst">Categoria</label>
			<select id="catinst" name="catinst">
				<option value="escolha">Escolha um Categoria</option>
				<option value="1">Estadual</option>
				<option value="2">Municipal</option>
				<option value="3">Federal</option>
			</select>

			<label for="quant">Quantidade a Ser Listada</label>
			<select id="quant" name="quant">
				<option value="escolha">Escolha uma Quantidade</option>
				<option value="1">10</option>
				<option value="2">100</option>
				<option value="3">Todas</option>
			</select>

			<input type="submit" value="Buscar">
			<input type="reset" value="Limpar">

		</form>


		<form id="relTurmas" method="post" action="">
			<h6>Turmas</h6>
			<label for="codturma">C&oacute;digo</label>
			<input type="text" name="codturma" id="codturma" size="2">

			<label for="turno">Turno:</label>
			<select name ="turno" id="turno">
				<option value="escolha">Escolha um Turno</option>
				<option value="m">Manh&atilde;</option>
				<option value="t">Tarde</option>
				<option value="n">Noite</option>
				<option value="i">Integral</option>
			</select>

			<label for="curso" >Curso:</label>
			<select name ="curso" id="curso">
				<option value="escolha">Escolha um Curso</option>
				<option value="elet">Eletr&ocirc;nica</option>
				<option value="info">Inform&aacute;tica</option>
				<option value="mec">Mec&acirc;nica</option>
			</select>

			<label for="disciplina" >Disciplina:</label>
			<select name="" id="">
				<option value="escolha">Escolha uma Disciplina</option>
				<option value="mat">Matem&aacute;tica</option>
				<option value="fis">F&iacute;sica</option>
				<option value="circ">Circuitos Digitais</option>
			</select>

			<label for="quant">Quantidade a Ser Listada</label>
			<select id="quant" name="quant">
				<option value="escolha">Escolha uma Quantidade</option>
				<option value="1">10</option>
				<option value="2">100</option>
				<option value="3">Todas</option>
			</select>

			<input type="submit" value="Buscar">
			<input type="reset" value="Limpar">

		</form>


		<form id="relSetor" action="" method="POST">
			<h6>Setor</h6>
			<label  for="nome" >Nome:</label>
			<input  type="text" id="nome" name="nome" value="" maxlength="100" size="30">

			<label  for="tipo" >Tipo de Setor:</label>
			<select id="tipo" name="tipo">
				<option value="escolha">Selecione um Setor</option>
				<option value="salaDeAula">Sala de Aula</option>
				<option value="secretaria">Secretaria</option>
				<option value="biblioteca">Biblioteca</option>
				<option value="auditorio">Audit&oacute;rio</option>
				<option value="laboratorio">Laborat&oacute;rio</option>
				<option value="outro">Outro</option>
			</select>

			<label for="quant">Quantidade a Ser Listada</label>
			<select id="quant" name="quant">
				<option value="escolha">Escolha uma Quantidade</option>
				<option value="1">10</option>
				<option value="2">100</option>
				<option value="3">Todas</option>
			</select>

			<input type="submit" value="Buscar">
			<input type="reset" value="Limpar">

		</form>


		<form id="relAluno" method="post" action="">
			<h6>Aluno</h6>
			<label for="nomealuno">Nome:</label>
			<input type="text" name="nomealuno" id="nomealuno">

			<label for="cpf">CPF:</label>
			<input type="text" name="cpf" id="cpf" maxlength="11">

			<label for="instituicao"> Institui&ccedil;&atilde;o: </label>
			<input type="text" name="instituicao" id="instituicao">

			<label for="curso">Curso:</label>
			<select name ="curso" id="curso">
				<option value="escolha">Escolha um Curso</option>
				<option value="elet">Eletr&ocirc;nica</option>
				<option value="info">Inform&aacute;tica</option>
				<option value="mec">Mec&acirc;nica</option>
			</select>

			<label for="quant">Quantidade a Ser Listada</label>
			<select id="quant" name="quant">
				<option value="escolha">Escolha uma Quantidade</option>
				<option value="1">10</option>
				<option value="2">100</option>
				<option value="3">Todas</option>
			</select>

			<input type="submit" value="Buscar">
			<input type="reset" value="Limpar">
		</form>


		<input type="submit" value="Gerar Relat&oacute;rio">
		<input type="submit" value="Voltar">
		<input type="reset" value="Limpar">


	</form>