﻿<div class="formulario">	
	<form id="cadastrarProgramaSocial" method="post" action="#">
		<h3>Cadastrar Programa Social</h3>
		<label >Nome:</label>	
		<input type="text" ><label class="val">*</label>

		<label >Descri&ccedil;&atilde;o:</label>	
		<input type="text" ><label class="val">*</label>

		<label>&Acirc;mbito:</label>
		<input type="text" ><label class="val">*</label> 

		<input type="submit" id="#" value="Voltar" class="#">
		<input type="submit" id="#" value="Alterar" class="#">
		<input type="reset" id="#" value="Limpar" class="#">
		<input type="button" id="#" value="Buscar" class="#">
		<input type="submit" id="#" value="Desativar" class="#">
		<input type="submit" id="#" value="Cadastrar" class="#">
	</form>
</div>
